<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.orangehousehappyhour.app"
        version   = "1.0.0">

    <name>HHAp Fort Collins</name>

    <description>
        List of Restaurants, Bars, and Breweries in Fort Collins Colorado
    </description>

    <author href="http://phonegap.com" email="lorange.christian@gmail.com">
        OrangeHouse LLC
    </author>

    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="6.4.0" />
    <engine name="ios" spec="~4.5.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-admob-free" spec="~0.12.0" />



</widget>